---
import { getCollection } from "astro:content";
import WindowProject from "./WindowProject.astro";
import About from "./About.astro";
import projectsSvg from "../assets/svg/Projects.svg";
import Experience from "./Experience.astro";
import CardProyects from "./CardProyects.astro";

const projects = await getCollection("projects");
---

<!-- Window Projects-->
<section
  id="hero"
  class="fade-in scrollbar-hide max-w-5xl mx-auto flex flex-col p-4 gap-6 dark:text-slate-50 mt-6"
>
  <h1 class="text-3xl text-center font-bold mb-2 border-b-4 border-b-[#a49881] pb-3">
    Mis Proyectos 💻
  </h1>
  
  <!-- Contenedor grid para las cartas con altura fija -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 auto-rows-fr">
    {projects.slice(0, 3).map((project) => {
      const { data, slug } = project;
      return <CardProyects key={slug} {...data} class="h-full" />;
    })}
  </div>

  <a
    href="/projects"
    class="flex items-center justify-center p-3 gap-3 transition ease-in-out hover:scale-[104%] hover:opacity-80 cursor-pointer hover:bg-slate-600 rounded-lg text-center w-full"
  >
    <img src={projectsSvg.src} alt="gitHub" class="w-6 h-6 dark:invert" />
    <h1 class="text-center">Ir a mis proyectos</h1>
  </a>
</section>


<section
  id="experience"
  class="fade-in max-w-5xl mx-auto flex"
>
  <Experience />
</section>

<section
  id="about"
  class="fade-in max-w-5xl mx-auto flex py-6"
>
  <About />
</section>
